<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/weather.png">
    <title>About</title>
    <link rel="stylesheet" href="/CSS/styles.css">
</head>
<body>
    <div class="main">
        {{>header}}
        <p style="padding: 4% 0%;">This site was created by Rishav aka <a href="https://github.com/BiBBoBBoo" style="text-decoration: none; color:red">BIBBOBBOO</a>. THis site uses 
        data from api's like weatherstack and mapbox. Do check them out. </p>
        <img src="images/dhinchak.jpg" class="potrait" alt="">
    </div>

    {{>footer}}
</body>
</html>